{
  "IsEncrypted": false,
  "Values": {

    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "LOCAL_ENV": "true",
    "AzureWebJobs.monitor.Disabled": "true",

    "AZURE_SUBSCRIPTION_ID": "Your Azure subscription ID.",
    "AZURE_RESOURCE_GROUP": "The name of your Azure resource group.",
    "AZUREAI_PROJECT_NAME": "Name of your Azure AI project.",
    "AZURE_OPENAI_ENDPOINT": "Your Azure OpenAI endpoint URL.",
    "AZURE_OPENAI_API_VERSION": "2024-10-21",
    "AZURE_OPENAI_API_KEY": "Your Azure OpenAI API key.",
    "AZURE_OPENAI_EMBEDDING_MODEL": "text-embedding-3-large",
    "AZURE_OPENAI_RESOURCE": "Your Azure OpenAI Resource.",
    "AZURE_OPENAI_CHATGPT_MODEL": "gpt-4o",
    "AZURE_OPENAI_CHATGPT_DEPLOYMENT": "chat",
    "AZURE_OPENAI_EMBEDDING_DEPLOYMENT": "text-embedding",
    "AZURE_OPENAI_MAX_TOKENS": "1000",

    "AZURE_KEY_VAULT_NAME": "add_your_key_vault_resource_name_here",

    "ORCHESTRATOR_ENDPOINT": "http://localhost:7071/api/orc",
    "FUNCTION_KEY": "add_your_function_key_here",
    "USE_REST_API": "false",

    "AZURE_DB_ID": "Your Azure DB ID.",
    "AZURE_DB_NAME": "Your Azure DB Name.",

    "AZURE_SEARCH_TOP_K": "3",
    "AZURE_SEARCH_APPROACH": "hybrid",
    "AZURE_SEARCH_USE_SEMANTIC": "true",
    "AZURE_SEARCH_SEMANTIC_SEARCH_CONFIG": "my-semantic-config",
    "AZURE_SEARCH_SERVICE": "Your Azure Search Service.",
    "AZURE_SEARCH_INDEX": "ragindex",
    "AZURE_SEARCH_API_VERSION": "2024-07-01",
    
    "AZURE_STORAGE_ACCOUNT": "You Azure Storage Account",
    "AZURE_STORAGE_CONTAINER: "documents",

    "AUTOGEN_ORCHESTRATION_STRATEGY": "classic_rag"
  }
}