{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "LOCAL_ENV": "true",

    "AzureWebJobs.monitor.Disabled": "true",

    "AZURE_DB_ID": "dbgpt0-[random_sufix]",
    "AZURE_DB_NAME": "db0-[random_sufix]", 

    "AZURE_OPENAI_RESOURCE" : "oai0-[random_sufix]",
    "AZURE_OPENAI_CHATGPT_DEPLOYMENT": "chat",
    "AZURE_OPENAI_EMBEDDING_DEPLOYMENT": "text-embedding-ada-002",
    "AZURE_OPENAI_API_VERSION": "2024-03-01-preview",
    "AZURE_OPENAI_MAX_TOKENS": "1000",

    "AZURE_SEARCH_TOP_K": "3",
    "AZURE_SEARCH_APPROACH": "hybrid",
    "AZURE_SEARCH_USE_SEMANTIC": "false",
    "AZURE_SEARCH_SEMANTIC_SEARCH_CONFIG": "my-semantic-config",
    "AZURE_SEARCH_SERVICE": "search0-[random_sufix]",
    "AZURE_SEARCH_INDEX": "ragindex",
    "AZURE_SEARCH_API_VERSION": "2024-07-01",

    "SQL_DATABASE_SERVER": "[your_sql_database_server].database.windows.net",
    "SQL_DATABASE_NAME": "adventureworkslt",

    "AUTOGEN_ORCHESTRATION_STRATEGY": "classic-rag"
  }
}