# Azure Functions dependencies
azure-functions
azurefunctions-extensions-bindings-blob

# Azure SDK dependencies
azure-keyvault-secrets==4.8.0
azure-cosmos==4.5.1
azure-identity
azure-mgmt-web
azure-mgmt-storage
azure-storage-blob

# AI and NLP dependencies
tiktoken==0.7.0
openai==1.42.0

# GenAI dependencies
flaml==2.2.0
autogen==0.3.0
# pyautogen==0.2.33

aiohttp==3.10.5

# NL2SQL dependencies
sqlparse==0.5.1
pyodbc==5.1.0
teradatasql==20.0.0.17

# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
