
# Azure Functions dependencies
azure-functions
azurefunctions-extensions-bindings-blob
 
# azurefunctions-extensions-http-fastapi
# Obtaining azurefunctions-extensions-http-fastapi 1.0.0b3 from github to get pydantic 2.10.1 support
git+https://github.com/Azure/azure-functions-python-extensions.git@1.0.0b3#egg=azurefunctions-extensions-http-fastapi&subdirectory=azurefunctions-extensions-http-fastapi


# Azure SDK dependencies
azure-keyvault-secrets==4.8.0
azure-cosmos==4.5.1
azure-identity
azure-mgmt-web
azure-mgmt-storage
azure-storage-blob

# AI and NLP dependencies
tiktoken==0.7.0
openai==1.66.3

# GenAI dependencies

# for 0.4 
autogen-agentchat==0.4.9.2
autogen_ext==0.4.9.2

aiohttp==3.10.11
# asyncio==3.4.3

# NL2SQL dependencies
sqlparse==0.5.1
pyodbc==5.1.0

# Utility dependencies
tenacity==9.0.0

# For evaluation
requests
python-dotenv